@{
    ViewData["Title"] = "History";
}

<style>

    .select-container-Fin .select2-container .select2-selection--single {
        height: 43px !important;
    }

    .select-container-Fin .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 7px !important;
    }
</style>

<section class="content">
    <div class="container-fluid">




        <div class="card-body d-flex select-container-Fin">

            <select data-parsley-required id="drbHistoryFiles"
                    data-live-search="true"
                    class="form-control w-50  select2" style="height:45px;">
                <option value="">Select</option>
                @foreach (var item in ViewBag.Files)

                {
                    <option value="@item.Guid">@item.Date--@item.Account--@item.User</option>
                }
            </select>

            <input type="button" id="btnGet" value="Get Report" class="btn btn-info ml-3">

        </div>




        <div class="card-body" id="divCardBody">
        </div>


    </div>
</section>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>


<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">





<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">

<!-- Select2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/flatly/bootstrap.min.css">
<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<script src="~/plugins/select2/js/select2.full.min.js"></script>
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css">
<script src="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js" integrity="sha512-eyHL1atYNycXNXZMDndxrDhNAegH2BDWt1TmkXJPoGf1WLlNYt08CSjkqF5lnCRmdm3IrkHid8s2jOUY4NIZVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">

<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.colVis.min.js"></script>

<style>
    .caret {
        display: none;
    }

</style>

<script type="text/javascript">

        $(document).ready(function () {
            $('.select2').select2({
    closeOnSelect: false
    });

     $('#drbHistoryFiles').height(45);


            var objArr;
            $('#btnGet').click(function () {
                var validate = true;
                var allFields = $('#drbHistoryFiles')
                allFields.each(function (index, obj) {
                    !$(this).parsley().validate()
                    if (!$(this).parsley().isValid())
                        validate = false;
                });
                if (!validate) return;
                xdialog.startSpin();
                $.ajax({
                    type: "GET",
                    url: "/History/ViewSummary?guid=" + $('#drbHistoryFiles').val(),
                    data: JSON.stringify(objArr),

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        // $('#divCardBody').html(data);
                        //  xdialog.stopSpin();
                    },
                    failure: function (response) {
                        console.log(response);
                        xdialog.stopSpin();
                    }
                });

            })
            $(document).ajaxComplete(function (event, request, settings) {
                if (settings.url.indexOf('/History/ViewSummary') >= 0) {
                    xdialog.stopSpin();
                    if (request.responseText != "") {
                        $('#divUpload').addClass('hidden-element');

                        $('#divCardBody').html(request.responseText);
                    }
                    else {
                        xdialog.open({
                            title: 'Please note',
                            body: 'something wrong happen',
                            buttons: ['ok'],
                            style: 'min-width:38em;',
                            oncancel: function (param) {
                                console.info('oncancel', param);
                            }
                        });
                    }
                }
            });

        });
</script>