@{
    ViewData["Title"] = "Home Page";
}
@using MOCI.Core.DTOs;

@model SearchParams;

<form id="searchForm" style="margin:5px">

    @foreach (var item in ViewData.ModelMetadata.Properties)
    {
        <div class="row mt-3 group">
            <div class="col-md-2">
                @Html.Label(item.PropertyName)
            </div>
            <div class="col-md-2">
                @Html.Editor( item.PropertyName, new
            {
            htmlAttributes = new
            {
            @class = "form-control"
            }
            })
            </div>
        </div>
    }
    <div class="row mt-3 group">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <input type="submit" style="width:100%" value="Submit" class="btn btn-primary" id="btnSubmit" />
        </div>
    </div>
</form>



<div class="card-body" id="divCardBody">
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>


<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">





<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">

<!-- Select2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/flatly/bootstrap.min.css">
<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css">
<script src="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js" integrity="sha512-eyHL1atYNycXNXZMDndxrDhNAegH2BDWt1TmkXJPoGf1WLlNYt08CSjkqF5lnCRmdm3IrkHid8s2jOUY4NIZVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">

<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.colVis.min.js"></script>
<script>
      $(document).ready(function () {


        $('#btnSubmit').click(function (e) {
            e.preventDefault();

            var isValid = $("#searchForm").valid();
            if (isValid) {
                xdialog.startSpin();
                var obj = {};
                $('#searchForm input')
                  .not(':input[type=button], :input[type=submit], :input[type=reset]')
                  .each(function () {
                    var id = $(this).attr('id');
                    obj[id] = $("#" + id).val();
                  });

                $.ajax({
                url: '@Url.Action("Search", "Search")',
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: obj,
                success: function (result) {

                },
                error: function (error) {
                    console.log(error);
                }
            });
            }

        })
    });


     $(document).ajaxComplete(function (event, request, settings) {
            if (settings.url.indexOf('/Search/Search') >= 0) {
                xdialog.stopSpin();
                if (request.responseText != "") {
                    $('#divUpload').addClass('hidden-element');
                    $('#divCardBody').html(request.responseText);



                }
                else {
                    xdialog.open({
                        title: 'Please note',
                        body: 'something wrong happen',
                        buttons: ['ok'],
                        style: 'min-width:38em;',
                        oncancel: function (param) {
                            console.info('oncancel', param);
                        }
                    });
                }
            }
        });

</script>

