@using MOCI.Core.DTOs;
@model Report;

@{
    ViewData["Title"] = "Reports";
}
<form id="formReport" style="margin:5px">
    @foreach (var item in ViewData.ModelMetadata.Properties)
    {
        <div class="row mt-3 group">
            <div class="col-md-2">
                @Html.Label(item.PropertyName)
            </div>
            <div class="col-md-2">
                @Html.Editor(item.PropertyName, new
           {
               htmlAttributes = new
               {
                   @class = "form-control datepicker",
                   type = "month", 
               required = "required"
               }
           })

            </div>
        </div>
    }

    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <input type="submit" style="width:100%" value="Submit" class="btn btn-primary" id="btnSubmit" />
        </div>
    </div>
</form>

 

<div class="card-body" id="divCardBody">
    
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css">
<script src="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>

<script>

    $(document).ready(function () {


        $('#btnSubmit').click(function (e) {
            e.preventDefault();

            var isValid = $("#formReport").valid();
            if (isValid) {
                xdialog.startSpin();
                var obj = {};
                $('#formReport input[type="month"]').each(function () {
                    var id = $(this).attr('id');
                    obj[id] = $("#" + id).val();
                });

                @*$.get('@Url.Action("ReportResult", "Search", new { reportParams = obj })',
                    function (data) {
    $('#detailsDiv').html(data);
});*@

                $.ajax({
                url: '@Url.Action("ReportResult", "Search")',
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: obj,
                success: function (result) {
                   // $("#divCardBody").html(result);
                },
                error: function (error) {
                    console.log(error);
                }
            });
            }

        })
    });


    $(document).ajaxComplete(function (event, request, settings) {
        if (settings.url.indexOf('/Search/Report') >= 0) {
            xdialog.stopSpin();
            if (request.responseText != "") {
                $('#divUpload').addClass('hidden-element');
                //$('#divCardBody').html(request.responseText);
                @*@Html.RenderPartial("../Home/_ViewSummary")*@
                $('#divCardBody').html(request.responseText);
                 $('#matchedTable').DataTable( {
              
              rowGroup: {
                  dataSrc: 2
              }
          } );//unmatchedTable

          $('#unmatchedTable').DataTable( {
              
              rowGroup: {
                  dataSrc: 2
              }
          } );
            }
            else {
                xdialog.open({
                    title: 'Please note',
                    body: 'something wrong happen',
                    buttons: ['ok'],
                    style: 'min-width:38em;',
                    oncancel: function (param) {
                        console.info('oncancel', param);
                    }
                });
            }
        }
    });

</script>

