@model MOCI.Core.DTOs.TerminalDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/generalStyle.css" />
<div class="row mt-2 group">
    <div class="col-lg-11 col-md-11 col-sm-11 p-md-0"></div>
    <div class="col-lg-1 col-md-1 col-sm-1 p-md-0 ">
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>
</div>
<section class="content p-0">
    <div>


        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mt-2 group">
                <div class="col-lg-2 col-md-3 col-sm-12 p-md-0  label-container">
                    <label asp-for="TerminalId"></label>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-12">
                    <input asp-for="TerminalId" class="form-control" />
                    <span asp-validation-for="TerminalId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-2 group">
                <div class="col-lg-2 col-md-3 col-sm-12 p-md-0  label-container">
                    <label asp-for="MerchantId"></label>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-12">
                    <input asp-for="MerchantId" class="form-control" />
                    <span asp-validation-for="MerchantId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-2 group">
                <div class="col-lg-2 col-md-3 col-sm-12 p-md-0  label-container">
                    <label asp-for="Location"></label>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-12">
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>


            <div class="row mt-2 group">
                <div class="col-lg-2 col-md-3 col-sm-12 p-md-0  label-container">
                    <label>Department<span style="color:red;">*</span></label>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-12">
                    @Html.DropDownListFor(m => m.Department, new SelectList(ViewBag.Departments), "-- Select --", new { @class = "form-control" })

                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>


            <div class="row mt-2 group">
                <div class="col-lg-2 col-md-3 col-sm-12 p-md-0  label-container">
                    <label>Account<span style="color:red;">*</span></label>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-12">
                    @Html.DropDownListFor(m => m.Account, new SelectList(ViewBag.Ledgers), "-- Select --", new { @class = "form-control" })

                    <span asp-validation-for="Account" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-2 col-md-3 col-sm-12 p-md-0 label-container"></div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <input type="submit" style="width:100%" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>




    </div>
</section>