@model MappedModel
<form id="formMapped">
    @foreach (var item in ViewData.ModelMetadata.Properties)
    {
        <div class="row mt-2 group">
            <div class="col-lg-2 col-md-3 col-sm-12 p-md-0 label-container">
                @Html.Label(item.PropertyName)
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12">
                @Html.TextBox( item.PropertyName,
            null,new { @class = "form-control", placeholder =item.PropertyName,
            required="required" } )
            </div>
        </div>
    }
    <div class="row mt-4">
        <div class="col-lg-2 col-md-3 col-sm-12 p-md-0 label-container"></div>
        <div class="col-lg-2 col-md-4 col-sm-12">
            <input type="submit" style="width:100%" value="Submit" class="btn btn-primary" id="btnSubmit" />
        </div>
    </div>
</form>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/css/generalStyle.css" />
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<!-- Select2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/flatly/bootstrap.min.css">
<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<link rel="stylesheet" href="http://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css">
<script src="http://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>

<script>

    let newArr = new Array();;
    function getData(value){
         newArr.push({"MappedTo": $("#"+value).val(),"MappedFrom": value});
        }


    $(document).ready(function () {

            $('#btnSubmit').click(function () {
                 var isValid =  $("#formMapped").valid();
        if(isValid){
                $('#formMapped input[type="text"]').each(function(){
                        getData($(this).attr('id'));
                      });
                //xdialog.startSpin();


                $.ajax({
                    url:'/MappedColumns/Mapping',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(newArr)  ,
                    success: function (result) {
                       // $("#divCardBody").html(result);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
               }

            })




        });



</script>